.headercontainer {
  width: 100%;
  height: auto;
  padding: 70px 0;

  .hero {
    display: flex;
    width: 75%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    height: auto;
    justify-content: space-between;
    height: 80%;
    .herotext {
      width: 50%;
      h1 {
        // font-size: 3.5rem;
        color: #fff;
        span {
          font-size: 3.5rem;
        }
        .firstletter {
          color: #29b9f0ff;
          font-size: 4.5rem;
          font-family: "Coolvetica";
        }
        .textanimate {
          min-width: 10px;
          display: inline-block;

          &:hover {
            animation: rubberBand;

            animation-duration: 1s;
            color: #29b9f0ff;
          }
        }
      }
      h2 {
        color: #fff;
        font-size: 4rem;
      }
      p {
        color: rgb(211, 211, 211);
        font-size: 18px;
      }
      .buttons {
        margin-top: 30px;
        :first-child {
          margin-right: 15px;
          background-color: #29b9f0ff;
          border: 1px solid #29b9f0ff;
          padding: 13px 50px;
          outline: none;
          text-decoration: none;
          font-size: 18px;
          color: #fff;
          box-shadow: 0 0 10px #29b9f0ff;
          &:hover {
            background-color: #2f71e8ff;
            box-shadow: 0 0 10px #2f71e8ff;
            color: #fff;
            transition: 0.5s;
            border: 1px solid #2f71e8ff;
          }
        }

        :last-child {
          color: #29b9f0ff;
          border: 1px solid #29b9f0ff;
          outline: none;
          padding: 13px 50px;
          text-decoration: none;
          font-size: 18px;
          background: transparent;
          box-shadow: 0 0 10px #29b9f0ff;

          cursor: pointer;
          &:hover {
            box-shadow: 0 0 10px #2f71e8ff;
            background-color: #2f71e8ff;
            color: #fff;
            transition: 0.5s;
            border: 1px solid #2f71e8ff;
          }
        }
      }
    }
    .cube {
      width: 40%;
      height: auto;
      .cubespinner {
        position: relative;
        height: 300px;
        animation-name: spincube;
        animation-timing-function: ease-in-out;
        animation-duration: 12s;
        animation-iteration-count: infinite;
        transform-style: preserve-3d;
        transform-origin: 150px 150px 0;
        margin-left: calc(50% - 100px);
        &:hover {
          animation-play-state: paused;
        }
        div {
          position: absolute;
          width: 300px;
          height: 300px;
          background-color: rgba(255, 255, 255, 0.6);
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0px 0px 20px #fff;
          top: 0;
          left: 0;
          svg {
            font-size: 150px;
          }
        }

        .face1 {
          transform: translateZ(150px);
          svg {
            color: orangered;
          }
        }
        .face2 {
          transform: rotateY(90deg) translateZ(150px);
          svg {
            color: cyan;
          }
        }
        .face3 {
          transform: rotateY(90deg) rotateX(90deg) translateZ(150px);
          svg {
            color: yellow;
          }
        }
        .face4 {
          transform: rotateY(180deg) rotateZ(90deg) translateZ(150px);
          svg {
            color: cyan;
          }
        }
        .face5 {
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(150px);
          svg {
            color: purple;
          }
        }
        .face6 {
          transform: rotateX(-90deg) translateZ(150px);
          svg {
            color: green;
          }
        }
      }
    }
  }
}
@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
@media (max-width: 1038px) {
  .headercontainer {
    .hero {
      .herotext {
        h1 {
          font-size: 2.5rem;
        }
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}
@media (max-width: 868px) {
  .headercontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .hero {
      width: 90%;
      align-items: flex-start;
      flex-direction: column;
      height: 80%;
      .herotext {
        width: 100%;
        h1 {
          span {
            font-size: 2.5rem;
          }
        }
        p {
          margin-top: 10px;
        }
        .buttons {
          width: 100%;
          :first-child {
            margin-right: 10px;
            padding: 15px 30px;
            font-size: 18px;
          }

          :last-child {
            padding: 15px 30px;
            font-size: 18px;
          }
        }
      }
      .cube {
        margin-top: 30%;
        .cubespinner {
          margin-left: 35%;
          transform-origin: 125px 125px 0;
          div {
            width: 250px;
            height: 250px;
          }

          .face1 {
            transform: translateZ(125px);
          }
          .face2 {
            transform: rotateY(90deg) translateZ(125px);
          }
          .face3 {
            transform: rotateY(90deg) rotateX(90deg) translateZ(125px);
          }
          .face4 {
            transform: rotateY(180deg) rotateZ(90deg) translateZ(125px);
          }
          .face5 {
            transform: rotateY(-90deg) rotateZ(90deg) translateZ(125px);
          }
          .face6 {
            transform: rotateX(-90deg) translateZ(125px);
          }
        }
      }
    }
  }
}
@media (max-width: 365px) {
  .headercontainer {
    .hero {
      .herotext {
        h1 {
          span {
            font-size: 2rem;
          }
        }
      }

      .cube {
        margin-top: 25%;
        .cubespinner {
          margin-left: 30%;
        }
      }
    }
  }
}
