.textanimate {
  min-width: 10px;
  display: inline-block;

  &:hover {
    animation: rubberBand;
    // background: radial-gradient(
    //   circle farthest-corner at center center,
    //   var(--red) 50%,
    //   var(--cyan) 100%
    // );
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // animation-duration: 1s;
    color: var(--red);
  }
}
