.singleProject {
  width: 320px;
  height: auto;
  padding: 20px 10px;
  margin: 20px 0;
  box-shadow: 0 0 30px #000;
  text-align: center;
  .img {
    img {
      width: 100%;
      height: auto;
      box-shadow: 0 0 20px #000;
    }
  }
  h4 {
    color: #29b9f0ff;
    margin: 10px 0 20px 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 43%;
      width: 45px;
      display: block;
      height: 4px;
      box-shadow: 0 0 10px #fff;
      background: #fff;
      border-radius: 10px;
    }
  }
  h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
  }
  p {
    margin-top: 10px;
  }
  .stack {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .linkbtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 10px auto 0;
    button {
      background-color: #29b9f0ff;
      border: none;
      border: 1px solid #29b9f0ff;
      outline: none;
      padding: 5px 10px;
      color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px #29b9f0ff;
      cursor: pointer;
    }
  }
}
@media (max-width: 900px) {
  .singleProject {
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    .img {
      img {
        margin: 10px 0;
      }
    }
  }
}
