.container {
  position: relative;
  width: 100%;
  background-color: #121212;
  overflow-x: hidden;

  p {
    color: #a1a1a1ff;
  }
  footer {
    text-align: center;
    margin: 0;
    border-top: 1px solid #3f3f3f88;
    padding: 20px 0;
    .icons {
      color: #fff;
      margin: 8px 0 15px;
      a {
        color: #fff;
        margin: 0 10px;
        svg {
          font-size: 25px;
          &:hover {
            color: var(--red);
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
    h4 {
      color: #a1a1a1ff;
      font-size: 19px;
      display: flex;
      align-items: center;
      justify-content: center;

      span,
      svg {
        color: var(--cyan);
        font-family: var(--coolvetica);
        margin: 0 5px;
        font-size: 20px;
      }
      svg {
        font-size: 22px;
        // box-shadow: 0 0 10px var(--red);
      }
    }
  }
}
